body{
    background-color: #e6e6e6;
}

.first-box {
    width: 100%;
    height: 113px;
    background-color: #444444;
}

main {
    width: 65%;
    height: 75%;
    background-color: white;
    color: red;
    margin-left: auto;
    margin-right: auto;
    
}

footer {
    width: 75%;
    height: 11%;
    color: pink;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}